body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.icon i {
    padding-bottom: 10px;
    font-size: 60px;
    color: rgba(0, 139, 139, 0.24); // darkcyan
}

h1 {
    padding-bottom: 80px;
    font-family: "FS Kim", "Georgia", "Serif";
    font-feature-settings: "liga";
    font-weight: 500;
}

.block button {
    padding-right: 24px;
}

.block button.status-enabled {
    color: green;
}

.block button.status-disabled {
    color: red;
}

.block button i {
    padding-right: 10px;
}

.block #status {
    margin-top: 40px;
    font-weight: 100;
}

.block #status .status-label {
    color: green;
    font-weight: 400;
}

.block #status .error-label {
    color: red;
    font-weight: 400;
}
